#include "clock.dtsi"
#include "crypto.dtsi"
#include "trng.dtsi"
#include "usb.dtsi"

/delete-node/ &clk_mtimer;

/ {
	chosen {
		zephyr,entropy = &trng;
	};
};

&clock {
	status = "okay";
};

&trng {
	status = "okay";
};

&crypto {
	status = "okay";
};

zephyr_udc0: &usb {
	status = "okay";
};