# Copyright (c) 2025 Egis Technology Inc.
# SPDX-License-Identifier: Apache-2.0

if PINCTRL

module = PINCTRL
module-str = PINCTRL
source "subsys/logging/Kconfig.template.log_config"

rsource "Kconfig.egis_et171"

endif # PINCTRL
